In [31]:
import yfinance as yf
import pandas as pd

# 1. Download 1 month of hourly data for ERNX on Xetra
data = yf.download("ERNX.DE",
                   period="1mo",
                   interval="2m",
                   auto_adjust=True)

data.head()

[*********************100%***********************]  1 of 1 completed

Price                       Close    High     Low    Open  Volume
Ticker                    ERNX.DE ERNX.DE ERNX.DE ERNX.DE ERNX.DE
Datetime
2025-04-07 07:04:00+00:00  5.4194  5.4274  5.4194  5.4274       0
2025-04-07 07:06:00+00:00  5.4216  5.4216  5.4216  5.4216       2
2025-04-07 07:08:00+00:00  5.4158  5.4210  5.4158  5.4184   10112
2025-04-07 07:12:00+00:00  5.4154  5.4200  5.4154  5.4198    2412
2025-04-07 07:14:00+00:00  5.4202  5.4202  5.4202  5.4202       4

In [32]:
# 2. Localize to UTC then convert to Europe/Lisbon timezone
data.index = data.index.tz_convert('Europe/Lisbon')
data.head()

Price                       Close    High     Low    Open  Volume
Ticker                    ERNX.DE ERNX.DE ERNX.DE ERNX.DE ERNX.DE
Datetime
2025-04-07 08:04:00+01:00  5.4194  5.4274  5.4194  5.4274       0
2025-04-07 08:06:00+01:00  5.4216  5.4216  5.4216  5.4216       2
2025-04-07 08:08:00+01:00  5.4158  5.4210  5.4158  5.4184   10112
2025-04-07 08:12:00+01:00  5.4154  5.4200  5.4154  5.4198    2412
2025-04-07 08:14:00+01:00  5.4202  5.4202  5.4202  5.4202       4

In [33]:
# 3. Extract hour of day and group
data['hour'] = data.index.hour
hourly_avg = data.groupby('hour')['Close'].mean()

# 4. Find the hour with the lowest average
lowest_hour = hourly_avg.idxmin()
lowest_value = hourly_avg.min()

print(f"The lowest average ERNX price over the past month occurred around {lowest_hour:02d}:00 Lisbon time, at an average close of â‚¬{lowest_value:.4f}.")
print("\nAverage closing price by hour:")
print(hourly_avg)

KeyError: "None of [Index(['Close'], dtype='object', name='Ticker')] are in the [columns]"